<div id='main' class='main'>
	<%= render(:partial => "layouts/left", :object => nil) -%>
        <div id='center' class='center' id=center>
			<%= insert_heading("Comments", nil) %> 
        <%= render(:partial => "/layouts/comment_display") %>
        </div>  
	    
</div>