<p>
Dear <%= @patron.username %>,<br />
<p>
Your request to upgrade your account at 
<a href="http://whatshappnin.info">http://whatshappnin.info</a>
has been refused because we could not confirm your identity.
<p>
You can still post private events by following the links in the private
section of the sidebar.
<p>
Sign-in at 
<a href="http://whatshappnin.info/welcome/signin">http://whatshappnin.info</a>
 and join us online.
<p>

Thanks from Dave
<p>
<a href="http://whatshappnin.info">http://whatshappnin.info</a>
