<p>
Dear <%= @patron.username %>,<br />
<p>
Your registration is now complete, please click on the link to access
<a href="http://whatshappnin.info">http://whatshappnin.info</a>
<p>
username: <%= @patron.username %><br />
password: <%= @patron.password %><br />
<p>

Sign-in at 
<a href="http://whatshappnin.info/welcome/signin">http://whatshappnin.info</a>
 and join us online.
<p>
Thanks from Dave
<p>
<a href="http://whatshappnin.info">http://whatshappnin.info</a>
