<!--  app/views/registration_mailer/upgrade_to_agent.rhtml -->
Dear <%= @patron.username %>,<br />
<p>
Your account status has been upgraded, please click on the link to access
<a href="http://whatshappnin.info">http://whatshappnin.info</a>
<p>
username: <%= @patron.username %><br />
<p>

Sign-in at 
<a href="http://whatshappnin.info/welcome/signin">http://whatshappnin.info</a>
 and join us online.
<p>
You will find the Agents links in the left sidebar, following these links
will navigate to your personal agent space.  From here you can now add venues,
and add events for these venues.

Thanks from Dave
<p>
<a href="http://whatshappnin.info">http://whatshappnin.info</a>
