<!--  app/views/registration_mailer/username_reminder.rhtml -->
Dear <%= @patron.username %>,<br />
<p>
this is a username reminder from <a href="http://whatshappnin.info">
http://whatshappnin.info</a>.
<p>
username: <%= @patron.username %><br />
<p>
Sign-in at 
<a href="http://whatshappnin.info/welcome/signin">http://whatshappnin.info</a>
 and join us online.
<p>
Regards from Dave
<p>
<a href="http://whatshappnin.info">http://whatshappnin.info</a>