
<p>
You have been invited to the <%= @invite.title %> at <a href="http://whatshappnin.info">http://whatshappnin.info</a>
by <%= @invite.host_email %>.
<p>
Log into <a href="http://whatshappnin.info">http://whatshappnin.info</a>
and join us online.
<p>
If you are not <a href="http://whatshappnin.info/welcome/register">registered</a>
, registration only takes a few minutes of your time.
<p>
Once registered using this email address:<pre>
		
		<b color='blue'><%= @invite.guest_email %></b>

</pre>
you can view this event in the private section in the sidebar.
<p>

Thanks from <a href="http://whatshappnin.info">http://whatshappnin.info</a>
