<META HTTP-EQUIV="Refresh" CONTENT="3; URL=/welcome">
<div id= "main" name='main' id='main'>
	<%= insert_heading(flash[:heading], nil) %> 
    <fieldset>      
        <p />
        <%= flash[:message] %>
        <p />   
        <img src= '/images/small_progress.gif' >
    </fieldset>
</div>