<!-- Start Agents Index Center -->
<div id='center' class='center' id='center'>

    <fieldset class="heading">
    <h2>
        <%= res("new_event_legend") %>:&nbsp;
        <%= User.find_by_id(session[:user_id]).username %>
    </h2>
    </fieldset> 
 
</div>  
<!-- End Agents Index Center -->