<div id='center' class='center' id='center'>
<div class='index_center_col'>
	<%= insert_heading(flash[:heading], nil) %>	
	<fieldset class="reg_fieldset">
		<%= flash[:message] %>
	</fieldset>
</div>  
